# Ejercicio 1:
#### Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [11]:
matricula = "1887933"
print (" Nombre: Armando Delgado Cantu\n Matricula: " +matricula)

 Nombre: Armando Delgado Cantu
 Matricula: 1887933

# Ejercicio 2

#### Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

#### Utilizando el loop de while

In [ ]:
a = int(input("Introduce número 'a': "))
b = int(input("Introduce número 'b': "))
c1=1
while c1 <= 5:
    c1 = int(input("\t1. Suma a+b\n\t2. Resta a-b\n\t3. Multiplicacion a*b\n\t4. Division a/b\n\t5. Exponente a^b\n\t6. Terminar\n\n\tOpcion que desea: "))
    if c1==1:
        print ("\n ", a, "+" , b, "=" ,(a+b))
    if c1==2:
        print("\n ", a, "-" , b, "=" ,(a-b))
    if c1==3:
        print("\n ", a, "*" , b, "=" ,(a*b))
    if c1==4:
        print("\n ", a, "/" , b, "=" ,(a/b))
    if c1==5:
        print("\n ", a, "^" , b, "=" ,(a**b))

Introduce número 'a': 2
Introduce número 'b': 4
	1. Suma a+b
	2. Resta a-b
	3. Multiplicacion a*b
	4. Division a/b
	5. Exponente a^b
	6. Terminar

	Opcion que desea: 1

  2 + 4 = 6
	1. Suma a+b
	2. Resta a-b
	3. Multiplicacion a*b
	4. Division a/b
	5. Exponente a^b
	6. Terminar

	Opcion que desea: 2

  2 - 4 = -2

# Ejercicio 3

#### Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [74]:
suma=0
lista = []
for i in range(1,11):
    lista.append((i*3))
    suma= suma + (lista[i-1])
    print(lista[i-1])
    
print ("La suma de todo esto es: " ,suma)

3
6
9
12
15
18
21
24
27
30
La suma de todo esto es:  165

# Ejercicio 4
#### Con una función de if else, revisar si un número es par o es impar.
#### Con una función de if else, revisar si un número es primo o no.

In [56]:
bandera=0
a = int(input("Que numero deseas consultar? : "))
prueba= a%2
if prueba==0:
    for i in range(2,a):
        if a%i ==0:
            bandera=1
    
    if bandera==0:
        if a==2:
            print("Es un numero PRIMO y PAR")
    else:
        print("Es un numero NO PRIMO y PAR")
            
else:
    for i in range(2,a):
        if a%i ==0:
            bandera=1
    
    if bandera==1:
        print("Es un numero NO PRIMO y NO PAR")
    else:
        if a!=1:
            print("Es un numero PRIMO y NO PAR")
        else:
            print("Es un numero NO PRIMO y NO PAR")

Que numero deseas consultar? : 90
Es un numero NO PRIMO y PAR

# Ejercicio 5

#### Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
num1 = int(input("Introduce número 'a': "))
num2 = int(input("Introduce número 'b': "))
c1=1
def Suma(a,b):
    c=a+b
    return c
def Resta(a,b):
    c=a-b
    return c
def Mult(a,b):
    c=a*b
    return c
def Div(a,b):
    c=a/b
    return c
def Expo(a,b):
    c=a**b
    return c

while c1 <= 5:
    c1 = int(input("\t1. Suma a+b\n\t2. Resta a-b\n\t3. Multiplicacion a*b\n\t4. Division a/b\n\t5. Exponente a^b\n\t6. Terminar\n\n\tOpcion que desea: "))
    if c1==1:
        print ("\n", num1, "+" , num2, "=" ,Suma(num1,num2))
    if c1==2:
        print("\n ", num1, "-" , num2, "=" ,Resta(num1,num2))
    if c1==3:
        print("\n ", num1, "*" , num2, "=" ,Mult(num1,num2))
    if c1==4:
        print("\n ", num1, "/" , num2, "=" ,Div(num1,num2))
    if c1==5:
        print("\n ", num1, "^" , num2, "=" ,Expo(num1,num2))

Introduce número 'a': 5
Introduce número 'b': 5
	1. Suma a+b
	2. Resta a-b
	3. Multiplicacion a*b
	4. Division a/b
	5. Exponente a^b
	6. Terminar

	Opcion que desea: 6

# Ejercicios con Estructuras Basicas de Python
### Tuplas
#### -Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
#### -Crear una tupla con valores enteros imprimir el primer y ultimo valor.
#### -Añadir 3 valores de string a la tupla.
#### -Verificar si una variable existe dentro de la tupla.

In [6]:
flotante=2.5
entero=2
bolt,bolf = True, False
imaginario=(-1)**(1/2)
print("Flotante--->",type(flotante))
print("Entero--->",type(entero))
print("Boleana--->",type(bolt))
print("Compleja--->",type(imaginario))

Flotante---> <class 'float'>
Entero---> <class 'int'>
Boleana---> <class 'bool'>
Compleja---> <class 'complex'>

In [18]:
tupla=(2,3434,5,25,3,1998)
print ("Primer valor->",tupla[0],"\nUltimo Valor->",tupla[-1])

Primer valor-> 2
Ultimo Valor-> 1998

In [1]:
tupla=(1,34,780,43)
tupla=list(tupla)
tupla.extend(["mi nombre","es","armando"])
tupla=tuple(tupla)
tupla

(1, 34, 780, 43, 'mi nombre', 'es', 'armando')

In [60]:
nave=('tripulante1', 'tripulante2','tripulante3','impostor','tripulante4')
if ("impostor" in nave)==True:
    print("Hay un impostor en la nave")

Hay un impostor en la nave

# Listas
#### *Crear una lista con 40 elementos aleatorios enteros.

#### *Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

#### *Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

#### *Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

#### *Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [19]:
import random as alazar
lista_aleatorios=[]
for i in range(1,41):
    lista_aleatorios.append(alazar.randint(1,100))
print(lista_aleatorios)

[7, 69, 26, 17, 39, 12, 48, 39, 37, 71, 41, 83, 24, 62, 74, 19, 48, 66, 95, 77, 31, 78, 43, 28, 63, 63, 5, 13, 12, 64, 93, 37, 73, 39, 23, 34, 23, 11, 79, 39]

In [21]:
def Listas(lista_aleatorios):
    par=[]
    impar=[]
    for i in range(len(lista_aleatorios)):
        if lista_aleatorios[i]%2==0:
            par.append(lista_aleatorios[i])
        else:
            impar.append(lista_aleatorios[i])
    return par,impar
par,impar=Listas(lista_aleatorios)
print("Lista de elementos pares: ", par,"\n\nLista de elementos impares: ",impar)

Lista de elementos pares:  [26, 12, 48, 24, 62, 74, 48, 66, 78, 28, 12, 64, 34]

Lista de elementos impares:  [7, 69, 17, 39, 39, 37, 71, 41, 83, 19, 95, 77, 31, 43, 63, 63, 5, 13, 93, 37, 73, 39, 23, 23, 11, 79, 39]

In [22]:
lpar=len(par)
limpar=len(impar)
print ('Longitud de par --->',lpar,'\nLongitud de impar--->',limpar)

Longitud de par ---> 13
Longitud de impar---> 27

In [23]:
par.sort(reverse=True)      
impar.sort()
print("Pares en orden descendente: ", par,"\nImpares en orden ascendente: ",impar)

Pares en orden descendente:  [78, 74, 66, 64, 62, 48, 48, 34, 28, 26, 24, 12, 12]
Impares en orden ascendente:  [5, 7, 11, 13, 17, 19, 23, 23, 31, 37, 37, 39, 39, 39, 39, 41, 43, 63, 63, 69, 71, 73, 77, 79, 83, 93, 95]

In [33]:
print ("El numero 12 se encuentra en el la lista y esta en la posicion:", lista_aleatorios.index(12))
numerito=len(lista_aleatorios)
print ("El ultimo dato de la lista es:",lista_aleatorios[numerito-1])
print ("El numero 12 se encuentra en la lista", lista_aleatorios.count(12), "veces") 
print ('Se ha eliminado al dato: ',lista_aleatorios.pop(37))

El numero 12 se encuentra en el la lista y esta en la posicion: 5
El ultimo dato de la lista es: 39
El numero 12 se encuentra en la lista 2 veces
Se ha eliminado al dato:  11

# Diccionarios
#### *Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
#### *Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
#### *Usando el diccionario y un loop, imprimir solo los nombres.
#### *Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [36]:
diccionario={'Armando':22,'Luisa':21,'Paco':24,'Alejandro':12,'Patricia':50,'Omar':21}
print (diccionario)

{'Armando': 22, 'Luisa': 21, 'Paco': 24, 'Alejandro': 12, 'Patricia': 50, 'Omar': 21}

In [37]:
edad=[i for i in diccionario.values()]
edad.sort()
print(edad)

[12, 21, 21, 22, 24, 50]

In [39]:
for i in diccionario:
    print (i)

Armando
Luisa
Paco
Alejandro
Patricia
Omar

In [40]:
diccionario['Max']=25
diccionario['Marco']=11
print(diccionario)

{'Armando': 22, 'Luisa': 21, 'Paco': 24, 'Alejandro': 12, 'Patricia': 50, 'Omar': 21, 'Max': 25, 'Marco': 11}

# Sets
#### *Crea un set con 100 numeros aleatorios enteros del 1 al 25.
#### *Comprueba la longitud de tu set.
#### *Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [45]:
miset=[]
for i in range(1,101):
    miset.append(alazar.randint(1,25))
print (miset)

[14, 20, 16, 12, 21, 2, 3, 16, 23, 23, 23, 10, 25, 16, 11, 25, 12, 1, 21, 10, 9, 24, 5, 17, 23, 1, 3, 18, 7, 8, 15, 17, 5, 14, 5, 16, 22, 18, 9, 17, 25, 22, 12, 20, 11, 1, 12, 22, 16, 1, 25, 4, 5, 20, 21, 4, 19, 17, 13, 9, 2, 20, 12, 14, 2, 4, 8, 1, 1, 17, 15, 22, 20, 23, 8, 20, 25, 1, 1, 10, 15, 18, 6, 10, 22, 24, 17, 15, 22, 12, 12, 18, 21, 21, 19, 10, 11, 21, 2, 4]

In [46]:
print ('Longitud del set',len(miset))

Longitud del set 100

In [49]:
lista5=[]
for i in range(1,6):
    lista5.append(alazar.randint(1,10))
print(lista5)

for i in range(5):
    if lista5[i] in miset:
        print("El numero ",lista5[i]," SI esta en miset")
    else:
        print("El numero ",lista5[i]," NO esta en miset")

[9, 3, 5, 9, 9]
El numero  9  SI esta en miset
El numero  3  SI esta en miset
El numero  5  SI esta en miset
El numero  9  SI esta en miset
El numero  9  SI esta en miset